# Django
Django==5.2
django-environ==0.12.0
djangorestframework

# # Document
# drf-yasg==1.21

# Testing
pytest==7.4.3
pytest-django==4.7.0
pytest-cov==4.1.0

# Database
psycopg2-binary==2.9.10


# Celery
celery==5.3.4
django-celery-beat==2.9.0
django-celery-results==2.6.0


redis==5.0.1